@import '../styles/main.scss';

.checkout-card {
  display: flex;
  margin-bottom: 16px;
  gap: 32px;


  &__image-wrap {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 160px;
    height: 198px;
    object-fit: contain;
    display: block;
  }

  &__info {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 40px 0;
  }

  &__specs {
    font-size: 12px;
    margin: 0;
  }
  &__price {
    font-size: 12px;
    padding-top: 12px;
  }

  &__remove {
    padding: 0;
    border: none;
    background: none;
    font-size: 12px;
    color: $text-color-alert;
    text-decoration: none;
    cursor: pointer;
    margin-top: 24px;
  }
}

@include tablet {
.checkout-card {
  padding-top: 40px;
}
  
  .checkout-card__image {
    width: 262px;
    height: 324px;
  }

  .checkout-card__remove-container {
    align-self: flex-start;
    margin-top: auto;
  } 
}