.products-list {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__item:last-child .product-card {
    border-bottom: 0.5px solid rgba(0, 0, 0, 1);
  }
}
