@import '../styles/main.scss';

.products-list {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;

  &__item {
    min-width: 0;
  }

  &__item:last-child .product-card {
    border-bottom: 0.5px solid $border-color-black;
  }
}

@include tablet {
  .products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .products-list__item {
    width: 100%;
  }

  .products-list__item:nth-last-child(-n + 2) .product-card {
    border-bottom: 0.5px solid $border-color-black;
  }

  .products-list__item:nth-child(even) .product-card,
  .products-list__item:last-child .product-card {
    border-right: 0.5px solid $border-color-black;
  }
}

@include desktop {
  .products-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .products-list__item:nth-child(5n) .product-card {
    border-right: 0.5px solid $border-color-black;
  }

  .products-list__item:nth-last-child(-n + 5) .product-card {
    border-bottom: 0.5px solid $border-color-black;
  }

  @media (max-width: 1500px) {
    .products-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1200px) {
    .products-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}