
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


$text-color-primary: rgba(0, 0, 0, 1);
$text-color-gray: rgba(170, 170, 170, 1);
$text-color-gray-dark: rgba(121, 115, 109, 1);
$text-color-alert: rgba(255, 0, 0, 1);
$text-color-white: rgba(255, 255, 255, 1);
$text-color-button-disabled: rgba(194, 191, 188, 1);

$border-color-gray: rgba(204, 204, 204, 1);
$border-color-black: rgba(0, 0, 0, 1);

$background-color-black: rgba(0, 0, 0, 1);
$background-color-button-disabled: rgba(243, 242, 242, 1);
$background-color: rgba(255, 255, 255, 1);