.home-content {
  padding-top: 24px;
}

.no-results {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
