* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 1);
}
body {
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow-x: hidden;
  padding: 0 16px;
  color: rgba(0, 0, 0, 1);
}
