@import './styles/main';

* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: $background-color;
}
body {
  margin: 0;
  background-color: $background-color;
  overflow-x: hidden;
  padding: 0 16px;
  color: $text-color-primary;
}

@include tablet {
  body {
    padding: 0 40px;
  }
}

@include desktop {
  body {
    padding: 0 100px;
  }
}